In [1]:
pip install matplotlib seaborn scikit-learn pandas numpy catboost optuna shap lofo-importance

Requirement already satisfied: matplotlib in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (3.9.2)Note: you may need to restart the kernel to use updated packages.

Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: scikit-learn in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (1.5.2)
Requirement already satisfied: pandas in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (2.2.3)
Requirement already satisfied: numpy in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (2.1.2)
Collecting catboost
  Using cached catboost-1.2.8-cp313-cp313-win_amd64.whl.metadata (1.5 kB)
Collecting optuna
  Using cached optuna-4.6.0-py3-none-any.whl.metadata (17 kB)
Collecting shap
  Using cached shap-0.50.0-cp313-cp313-win_amd64.whl.metadata (25 kB)
Collecting lofo-importance
  Using cached lofo_importance-0.3.5-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: packaging>=20.0 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: scipy>=1.6.0 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.5.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from pandas) (2024.2)
Collecting graphviz (from catboost)
  Using cached graphviz-0.21-py3-none-any.whl.metadata (12 kB)
Collecting plotly (from catboost)
  Using cached plotly-6.5.0-py3-none-any.whl.metadata (8.5 kB)
Requirement already satisfied: six in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from catboost) (1.16.0)
Requirement already satisfied: alembic>=1.5.0 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from optuna) (1.14.1)
Collecting colorlog (from optuna)
  Using cached colorlog-6.10.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: sqlalchemy>=1.4.2 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from optuna) (2.0.37)
Requirement already satisfied: tqdm in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from optuna) (4.67.1)
Requirement already satisfied: PyYAML in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from optuna) (6.0.3)
Collecting slicer==0.0.8 (from shap)
  Using cached slicer-0.0.8-py3-none-any.whl.metadata (4.0 kB)
Collecting numba>=0.54 (from shap)
  Using cached numba-0.62.1-cp313-cp313-win_amd64.whl.metadata (2.9 kB)
Collecting cloudpickle (from shap)
  Using cached cloudpickle-3.1.2-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: typing-extensions in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from shap) (4.15.0)
Collecting lightgbm (from lofo-importance)
  Using cached lightgbm-4.6.0-py3-none-win_amd64.whl.metadata (17 kB)
Requirement already satisfied: networkx in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from lofo-importance) (3.3)
Requirement already satisfied: Mako in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from alembic>=1.5.0->optuna) (1.3.8)
Collecting llvmlite<0.46,>=0.45.0dev0 (from numba>=0.54->shap)
  Using cached llvmlite-0.45.1-cp313-cp313-win_amd64.whl.metadata (5.0 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from sqlalchemy>=1.4.2->optuna) (3.1.1)
Requirement already satisfied: colorama in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from tqdm->optuna) (0.4.6)
Requirement already satisfied: MarkupSafe>=0.9.2 in c:\users\oğuzhan\appdata\local\programs\python\python313\lib\site-packages (from Mako->alembic>=1.5.0->optuna) (3.0.2)
Collecting narwhals>=1.15.1 (from plotly->catboost)
  Using cached narwhals-2.12.0-py3-none-any.whl.metadata (11 kB)
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Using cached catboost-1.2.8-cp313-cp313-win_amd64.whl (102.4 MB)
Using cached optuna-4.6.0-py3-none-any.whl (404 kB)
Using cached shap-0.50.0-cp313-cp313-win_amd64.whl (549 kB)
Using cached slicer-0.0.8-py3-none-any.whl (15 kB)
Using cached lofo_importance-0.3.5-py3-none-any.whl (11 kB)
Using cached numba-0.62.1-cp313-cp313-win_amd64.whl (2.7 MB)
Using cached llvmlite-0.45.1-cp313-cp313-win_amd64.whl (38.1 MB)
Using cached cloudpickle-3.1.2-py3-none-any.whl (22 kB)
Using cached colorlog-6.10.1-py3-none-any.whl (11 kB)
Using cached graphviz-0.21-py3-none-any.whl (47 kB)
Using cached lightgbm-4.6.0-py3-none-win_amd64.whl (1.5 MB)
Using cached plotly-6.5.0-py3-none-any.whl (9.9 MB)
Using cached narwhals-2.12.0-py3-none-any.whl (425 kB)
Installing collected packages: slicer, narwhals, llvmlite, graphviz, colorlog, cloudpickle, plotly, numba, lightgbm, shap, seaborn, optuna, lofo-importance, catboost

   -- -------------------------------------  1/14 [narwhals]
   -- -------------------------------------  1/14 [narwhals]
   -- -------------------------------------  1/14 [narwhals]
   -- -------------------------------------  1/14 [narwhals]
   -- -------------------------------------  1/14 [narwhals]
   -- -------------------------------------  1/14 [narwhals]
   -- -------------------------------------  1/14 [narwhals]
   ----- ----------------------------------  2/14 [llvmlite]
   ----- ----------------------------------  2/14 [llvmlite]
   ----- ----------------------------------  2/14 [llvmlite]
   ----- ----------------------------------  2/14 [llvmlite]
   -------- -------------------------------  3/14 [graphviz]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   ----------------- ----------------------  6/14 [plotly]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   -------------------- -------------------  7/14 [numba]
   ---------------------- -----------------  8/14 [lightgbm]
   ------------------------- --------------  9/14 [shap]
   ------------------------- --------------  9/14 [shap]
   ------------------------- --------------  9/14 [shap]
   ------------------------- --------------  9/14 [shap]
   ------------------------- --------------  9/14 [shap]
   ------------------------- --------------  9/14 [shap]
   ---------------------------- ----------- 10/14 [seaborn]
   ---------------------------- ----------- 10/14 [seaborn]
   ---------------------------- ----------- 10/14 [seaborn]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------- -------- 11/14 [optuna]
   ------------------------------------- -- 13/14 [catboost]
   ------------------------------------- -- 13/14 [catboost]
   ------------------------------------- -- 13/14 [catboost]
   ------------------------------------- -- 13/14 [catboost]
   ------------------------------------- -- 13/14 [catboost]
   ------------------------------------- -- 13/14 [catboost]
   ------------------------------------- -- 13/14 [catboost]
   ---------------------------------------- 14/14 [catboost]

Successfully installed catboost-1.2.8 cloudpickle-3.1.2 colorlog-6.10.1 graphviz-0.21 lightgbm-4.6.0 llvmlite-0.45.1 lofo-importance-0.3.5 narwhals-2.12.0 numba-0.62.1 optuna-4.6.0 plotly-6.5.0 seaborn-0.13.2 shap-0.50.0 slicer-0.0.8

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import Ridge
from catboost import CatBoostClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.model_selection import (
    train_test_split,
    KFold,
    StratifiedKFold,
    cross_val_score
)
from sklearn.metrics import roc_auc_score
from lofo import LOFOImportance, Dataset as LOFO_Dataset, plot_importance
import optuna
import shap

In [11]:
application_test_direction=r"C:\Users\oğuzhan\Desktop\case-study\case-study\home-credit-default-risk\application_test.csv"
application_test = pd.read_csv(application_test_direction,)

In [12]:
application_test

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0

In [20]:
application_train_direction=r"C:\Users\oğuzhan\Desktop\case-study\case-study\home-credit-default-risk\application_train.csv"
application_train = pd.read_csv(application_train_direction,)

In [21]:
application_train

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307506,456251,0,Cash loans,M,N,N,0,157500.0,254700.0,27558.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307507,456252,0,Cash loans,F,N,Y,0,72000.0,269550.0,12001.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307508,456253,0,Cash loans,F,N,Y,0,153000.0,677664.0,29979.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,1.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307510,456255,0,Cash loans,F,N,N,0,157500.0,675000.0,49117.5,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,1.0

In [15]:
application_train.head()
application_train.info()
application_train.isnull().sum().sort_values(ascending=False).head(20)
application_train.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [16]:
missing = application_train.isnull().sum().sort_values(ascending=False)
percent = (application_train.isnull().sum() / len(application_train) * 100).sort_values(ascending=False)

missing_df = pd.DataFrame({'missing_count': missing, 'missing_percent': percent})
missing_df.head(20)

                          missing_count  missing_percent
COMMONAREA_AVG                   214865        69.872297
COMMONAREA_MODE                  214865        69.872297
COMMONAREA_MEDI                  214865        69.872297
NONLIVINGAPARTMENTS_MEDI         213514        69.432963
NONLIVINGAPARTMENTS_MODE         213514        69.432963
NONLIVINGAPARTMENTS_AVG          213514        69.432963
FONDKAPREMONT_MODE               210295        68.386172
LIVINGAPARTMENTS_AVG             210199        68.354953
LIVINGAPARTMENTS_MEDI            210199        68.354953
LIVINGAPARTMENTS_MODE            210199        68.354953
FLOORSMIN_MODE                   208642        67.848630
FLOORSMIN_AVG                    208642        67.848630
FLOORSMIN_MEDI                   208642        67.848630
YEARS_BUILD_AVG                  204488        66.497784
YEARS_BUILD_MODE                 204488        66.497784
YEARS_BUILD_MEDI                 204488        66.497784
OWN_CAR_AGE                      202929        65.990810
LANDAREA_MEDI                    182590        59.376738
LANDAREA_AVG                     182590        59.376738
LANDAREA_MODE                    182590        59.376738

In [22]:
cat_cols = application_train.select_dtypes(include=['object']).columns
cat_cols

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [23]:
from sklearn.preprocessing import LabelEncoder

df_le = application_train.copy()

label_encoders = {}  # Sonradan inverse transform için gerekli

for col in cat_cols:
    le = LabelEncoder()
    df_le[col] = df_le[col].astype(str)  # NaN ve kategoriler için güvenli
    df_le[col] = le.fit_transform(df_le[col])
    label_encoders[col] = le

df_le.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,0,1,0,1,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,0,0,0,0,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,1,1,1,1,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,0,0,0,1,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,0,1,0,1,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.ensemble import ExtraTreesRegressor

# Imputer model
imputer = IterativeImputer(
    estimator=ExtraTreesRegressor(n_estimators=20, random_state=42),
    max_iter=10,
    initial_strategy='median',
    imputation_order='ascending',
    random_state=42
)

# Fit-transform
df_imputed = imputer.fit_transform(df_le)

# Tekrar DataFrame'e dönüştür
df_imputed = pd.DataFrame(df_imputed, columns=df_le.columns)

df_imputed.head()

1.Introduction

2.Loading the Dataset

3.Exploratory Data Analysis

4.Preprocessing Pipelines

5.Baseline Models (CatBoost & Ridge)

6.Feature Selection with LOFO

7.Hyperparameter Optimization (Optuna)

8.Model Comparison & Experiment Summary

9.SHAP Explanations

10.Feature Engineering (Optional)

11.Conclusion